@font-face {
    font-family: 'Louis George Cafe Light';
    src: url('/fonts/Louis George Cafe Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Louis George Cafe Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background color for dark mode */
    color: #ffffff; /* Light text color */
    text-align: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    transition: background-color 0.3s ease; /* Smooth transition for dark mode */
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
}

header, nav {
    transition: background-color 0.3s ease, transform 0.3s ease;
}


nav:hover {
    transform: translateY(5px); /* Lift on hover effect */
}

nav {
    background-color: #34495e; /* Dark navigation bar color */
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

nav a {
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for link color */
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #3498db; /* Highlight link color on hover */
    background-color: #2c3e50; /* Darker background on hover */
}

#logo {
    max-width: 256px;
    height: auto;
    margin-top: 2%;
}

#logo-container {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 50vh;
}

main#secondary {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 50vh;
}

#countdownTimer {
    font-size: 24px;
    color: #dbb434; /* Set color similar to the entry fee message and websocket messages */
    margin-top: 30px;
    border: 2px solid #dbb434; /* Apply border similar to the entry fee message */
    padding: 10px;
    border-radius: 5px;
}

#nanoAddress {
    font-size: 28px;
    margin-bottom: 20px;
    word-break: break-all;
}

#qrcodeContainer {
    margin-top: 20px;
    background-color: #ffffff; /* White background */
    padding: 15px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#qrcodeContainer:hover {
    /*box-shadow: 0 0px 20px rgb(0, 110, 255); */

    box-shadow: 0 0px 40px rgba(255, 255, 255, 0.8); /* White hover effect with some transparency */
}

#qrcode {
    position: relative;
    z-index: 1;
}


#nanoAddress {
    font-size: 24px;
    margin-bottom: 20px;
    word-break: break-all;
    color: #3498db; /* Set color similar to the websocket messages */
}

#nanoAddress strong {
    color: inherit; /* Inherit color from parent for consistency */
}

#nanoAddress b {
    display: inline-block; /* Display the Nano address as an inline-block element */
    background-color: #2e2e2e; /* Set background color for the code block */
    padding: 8px; /* Add padding to the code block */
    border-radius: 5px; /* Add border radius to the code block */
}

#copyButton {
    /* margin-top: -0.6%; */
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    /*transition: background-color 0.3s ease;
    vertical-align: middle; /* Align the copy button vertically with the code block 
    margin-left: 10px; /* Anano_38sbai751batgzspmtf4x3bky7pcd3br19upemzbtb9jafaj4pdgbpo4phr5dd left margin to separate from the Nano address 
    transition: background-color 1s ease; */
}
#copyButton:active {
    background-color: green; /* Change to a different color when the button is clicked */
}

#websocketMessages {
    font-size: 24px;
    color: #34db50;
    margin-top: 30px;
    border: 2px solid #34db50;
    padding: 10px;
    border-radius: 5px;
}

#entryMessage {
    font-size: 24px;
    color: #3498db;
    margin-top: 30px;
    border: 2px solid #3498db;
    padding: 10px;
    border-radius: 5px;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    #countdownTimer {
        font-size: 18px;
    }

    #nanoAddress {
        font-size: 18px;
    }

    table {
        font-size: 18px;
    }
    td code {
        font-size: 18px;
    }
}

#nanoCatImage {
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.3s ease; /* Smooth transition on hover */
    /* padding: 15px; */
    border-radius: 20px;
}

#nanoCatImage:hover {
    /*box-shadow: 0 0px 20px rgb(0, 110, 255);  Similar hover effect as QR code */
    box-shadow: 0 0px 40px rgba(255, 255, 255, 0.8); /* White hover effect with some transparency */
}

#pageTitle {
    font-size: 32px; /* Adjust font size as needed */
    color: #ffffff; /* Set desired text color */
}

.divider {
    width: 100%; /* Make the divider span the full width of the container */
    border: none; /* Remove default border */
    border-top: 2px solid rgba(255, 255, 255, 0.47); /* Add a 2px solid white border on top */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 24px; /* Set font size similar to #websocketMessages */
    color: #3498db; /* Set color similar to #websocketMessages */
    border: 2px solid #3498db; /* Set border similar to #websocketMessages */
    padding: 10px;
    border-radius: 5px;
    table-layout: fixed; /* Set the table layout to fixed */
}

th {
    color: #fff;
    border: 1px solid #3498db;
    padding: 8px;
}

td {
    border: 1px solid #3498db;
    padding: 8px;
    word-wrap: break-word; /* Enable word wrapping to prevent content overflow */
}

th {
    background-color: #1a1a1a;
}

td {
    background-color: #1a1a1a;
    white-space: nowrap; /* Prevent wrapping within table cells */
    overflow: hidden; /* Hide content that exceeds cell width */
    text-overflow: ellipsis; /* Show ellipsis for truncated text */
}

footer {
    background-color: #34495e; /* Dark background color */
    padding: 20px 0; /* Padding around social links */
    text-align: center;
}

.social-links {
    margin-top: 10px; /* Adjust the spacing between social icons */
}

.social-icon {
    color: #ffffff; /* White color for social icons */
    font-size: 24px; /* Adjust the icon size */
    margin: 0 10px; /* Adjust the spacing between social icons */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.social-icon:hover {
    color: #3498db; /* Change color on hover */
}
